
    

.calc{
    height: 700px;
    width: 450px;
   background-color: rgb(17, 0, 255);
    float: left;
    margin-left: 500px;
    margin-top: 30px;
}
.screen{
    margin-left: 61px;
   
    height: 38px;
   
    WIDTH: 322px;
    background-color: yellow;
}
.btm{
    height: 60px;
    width: 60px;
   
    margin-top: 58px;
    margin-left: 40px;
    background-color: red;
    color: rgb(0, 255, 76);
}
